<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація | Work Searching</title>
    <link rel="stylesheet" href="/register.css">
</head>
<body>
<div class="register-wrapper">
    <div class="register-container">
        <h2>Реєстрація на Work Searching</h2>
        <form action="/register" method="post" class="register-form">

            <div class="form-group">
                <label for="username">Логін</label>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <p th:if="${error}" class="error-message" th:text="${error}"></p>
            </div>

            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>

            <fieldset class="form-group role-group">
                <legend>Роль</legend>
                <label class="radio-wrapper">
                    <input type="radio" id="employer" name="role" value="EMPLOYER" required>
                    Роботодавець
                </label>
                <label class="radio-wrapper">
                    <input type="radio" id="employee" name="role" value="EMPLOYEE" required>
                    Робітник
                </label>
            </fieldset>

            <button type="submit" class="btn">Зареєструватись</button>
        </form>
    </div>
</div>
</body>
</html>
