<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Деталі вакансії</title>
</head>
<body>
    <h1>Деталі вакансії</h1>
    <h1 th:text="${vacancy.title}"></h1><br>
    <p th:text="${vacancy.description}"></p>
    <h2>Вимоги:</h2><br>
    <div th:each="requirement : ${requirements}">
        <p th:text="${requirement.content}"></p>
    </div>

    <form action="/vacancies" method="get">
        <button type="submit">Назад до списку вакансій</button>
    </form>
</body>
</html>