<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Створення вакансії</title>
</head>
<body>
  <h1>Створи нову вакансію</h1>
  <form action="/employer/vacancies" method="post">
    <label>Назва вакансії</label><br>
    <input type="text" name="title"><br><br>
    <label>Опис вакансії</label><br>
    <input type="text" name="description"><br><br>
    <label>Вимоги вакансії</label><br>
    <input type="text" name="requirement"><br><br>

    <button type="submit">Створити</button>
  </form>
</body>
</html>