<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вакансії</title>
</head>
<body>
    <h1>Веб-сайт пошуку роботи!</h1>
    <form action="/profile" method="get">
        <button type="submit">Профіль</button>
    </form>
    <form action="/exit" method="get">
        <button type="submit">Вийти</button>
    </form>

    <h1>Актуальні вакансії</h1>

    <div>
        <div th:each="v : ${vacancies}">
            <h2 th:text="${v.title}"></h2><br>
            <p th:text="${v.description}"></p><br>
            <a th:href="@{'/vacancies/' + ${v.id}}">Детальніше</a>
        </div>
    </div>
</body>
</html>